@charset "UTF-8";

main > article > article{
	padding: 0 16px;
	margin-bottom: 64px;
}
main > article > article > p{
	line-height: 150%;
	margin: 0 0 8px 8px;
}
main > article >article h3{
	font-size: 20px;
	color: #333333;
	margin-bottom: 12px;
}
main > article article{
	padding-bottom: 1em;
}

main > article ul li{
	margin: 16px 0;
}
