@charset "UTF-8";

body{
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

#wrapper{
	margin: 32px auto 200px auto;
}

/* 表示領域が980px以上の場合 */
@media screen and (min-width: 980px){
	#wrapper{
		width: 980px;
	}

	#site_header p a{
		font-size: 42px;
	}
	#site_header h1{
		font-size: 24px;
		font-weight: bold;
		line-height: 180%;
	}

	#site_header > nav{
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	#site_header > nav > a{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	main section section, main section p, main section .area{
		padding: 0 24px;
	}

	#contents h2, #contents h3, #contents h4{
		margin: 8px;
	}
}

/* 表示領域が601以上～979px以下の場合 */
@media screen and (min-width: 601px) and (max-width: 979px){
	#wrapper{
		width: 98%;
	}

	#site_header p a{
		font-size: 34px;
	}
	#site_header h1{
		line-height: 180%;
		font-weight: bold;
	}

	#site_header > nav{
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	#site_header > nav > a{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	#contents h2, #contents h3, #contents h4{
		margin: 8px 0;
	}
}

/* 表示領域が600px以下の場合 */
@media screen and (max-width: 600px){
	#wrapper{
		width: 98%;
	}

	#site_header p a{
		font-size: 28px;
	}
	#site_header h1{
		line-height: 180%;
		font-weight: bold;
	}

	#site_header > nav > a{
		display: block;
		padding: 16px 8px;
		font-size: 18px;
	}

	#contents h2, #contents h3, #contents h4{
		margin: 8px 0;
	}
}

#contents h2{
	font-size: 22px;
}
#contents h3{
	font-size: 20px;
}
#contents h4{
	font-size: 18px;
}

#site_header > nav{
	padding: 32px 8px;
}

main > section{
	margin-bottom: 80px;
}
main > section section{
	margin-top: 40px;
}
main > section > section > section{
	margin-top: 32px;
}

#site_footer{
	text-align: center;
}

.rare{
	color: red;
}