@charset "utf-8";

pre.source_code {
	overflow: auto;
	word-wrap: normal;
}

.keyword {
	color: #0000ff;
}

.comment {
	color: #008000;
}

.string {
	color: #a31515;
}

.type {
	color: #2b91af;
}

.document {
	color: #808080;
}

.parameter {
	color: #008080;
}

.function {
	color: #ff00ff;
}

.operator {
	color: #808080;
}

.sqlstring {
	color: #ff0000;
}

.error {
	text-decoration: underline wavy;
	text-decoration-color: red;
}

.region,
.close {
	cursor: pointer;
}

.region{
	display: none;
}

.close {
	border: solid 1px #808080;
	border-radius: 3px; /* CSS3草案 */
	color: #808080;
	-moz-border-radius: 3px; /* Firefox用 */
	-webkit-border-radius: 3px; /* Safari,Google Chrome用 */
}

.target_cell{
	color: #ff0000;
}

.excel{
	table-layout: auto;
}

.excel th{
	background-color: #dfe3e6;
}

.excel th.active{
	background-color: #ffe891;
}

.excel td.active{
	border: solid 3px #000000;
}

pre.source_code {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    background-color: #f8f8ff;
    border: 1px solid #999999;
    margin: 10px 0;
    padding: 10px;
    line-height: 130%;
}